/* Import CSS vars */
@import url("vars.css");
* {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-image: linear-gradient(
      rgb(255 255 255 / 30%),
      rgb(255 255 255 / 0%)
    ),
    url("../assets/images/coffee.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
  background-color: var(--header-color, bisque);
  padding: 0.7rem;
  margin-bottom: 2rem;
}

header,
dashboard-button,
#ingredients-list {
  display: flex;
  flex-direction: row;
  align-items: center;
}

fieldset {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  border: none;
  margin: 0;
  padding: 0;
}

header h1 {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  font-size: var(--step-3);
  color: white;
  margin: 0;
}

.dashboard-link {
  display: block;
  text-decoration: none;
  color: white;
}

dashboard-button {
  justify-content: space-between;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  font-size: var(--step-n1);
}

dashboard-button svg {
  height: 0.85rem;

  & path {
    fill: white;
  }
}

.dashboard-button span {
  margin-left: 0.25rem;
}

body {
  margin: 0;
  background-color: var(--body-color, white);
  font-size: var(--step-0);
}

#sign-out-button {
  margin: 1rem;
}

#sign-out-button,
form-field button {
  text-decoration: none;
  color: white;
  border: none;
  background-color: var(--button-color, darkgreen);
  padding: 1rem;
  border-radius: 1rem;
  font-size: var(--step-n1);
  transition: background-color 0.5s ease-out;
}

#sign-out-button:hover,
form-field button:hover {
  background-color: var(--button-hover-color, green);
}

main {
  display: flex;
  justify-content: center;
}

#recipe-name {
  border: none;
  border-bottom: 2px solid transparent;
  background-color: transparent;
  font-size: var(--step-1);
  font-weight: bold;
  text-align: left;
  padding: 0;
  color: var(--select-color, black);
  transition: border-bottom 0.3s ease;
  /* text-transform: uppercase; */
}

#recipe-name:focus {
  outline: none;
  border-bottom: 2px solid var(--select-color, black);
  background-color: #f0f0f0;
  color: var(--select-color, black);
  cursor: text;
}

#recipe-name:hover {
  border-bottom: 2px solid var(--text-color, brown);
  color: var(--text-color, brown);
  background-color: #f9f9f9;
}

#size-container input,
#type-container input {
  display: none;
}

.size-option,
.type-option {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1.2rem;
  margin: 0.5rem;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem var(--box-shadow-color, black);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
  width: 5.25rem;
  height: 5.25rem;
  cursor: pointer;
  border: none;
}

.size-option img {
  margin-bottom: 0.5rem;
  transition: filter 0.3s ease;
}

.size-option span {
  font-size: var(--step-n2);
  font-weight: bold;
  color: var(--text-color, brown);
  transition: color 0.3s ease;
}

.size-option:hover {
  background-color: var(--hover-color, blanchedalmond);

  & img {
    filter: brightness(0) saturate(100%);
  }

  & span {
    color: var(--select-color, black);
  }
}

#size-container input:checked + label.size-option,
#type-container input:checked + label.type-option {
  background-color: var(--hover-color, blanchedalmond);
  box-shadow: 0 0 0 0.1rem var(--select-color, black);
  border: 0.0625rem solid var(--select-color, black);
  color: var(--select-color, black);
}

#size-container input:checked + label.size-option img {
  filter: brightness(0) saturate(100%);
}

#size-container input:checked + label.size-option span {
  color: var(--select-color, black);
}

.type-option {
  font-size: var(--step-n2);
  font-weight: bold;
  color: var(--text-color, brown);
  height: 1.3125rem;
}

.type-option:hover {
  background-color: var(--hover-color, blanchedalmond);
  color: var(--select-color, black);
}

/* Ingredients Container Styles */
#ingredients-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#ingredients-list {
  flex-wrap: wrap;
  gap: 0.5rem;
  width: 26rem;
}

#ingredients-list input,
#add-ingredient,
#recipe {
  height: 2.625rem;
  border: 0.0625rem solid transparent;
  border-radius: 1rem;
  background-color: white;
  box-shadow: 0 0.25rem 0.5rem var(--box-shadow-color, black);
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    border 0.3s ease;
  font-size: var(--step-n1);
  font-weight: bold;
  color: var(--text-color, brown);
  text-transform: uppercase;
  text-align: center;
}

#ingredients-list input {
  width: 45%;
}

#recipe {
  padding: 0.5rem 1rem;
  margin: 0 0 1rem 0;
  border-radius: 1.5rem;
  color: var(--text-color, brown);
  resize: none;
  height: auto;
  text-align: left;
  text-transform: none;
  font-weight: normal;
}

#ingredients-list input:focus,
#recipe:focus {
  box-shadow: 0 0 0 0.0625rem var(--select-color, black);
  cursor: text !important;
}

#add-ingredient {
  padding: 0;
  border-radius: 1.5rem;
  font-size: var(--step-2);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

#add-ingredient:hover,
#ingredients-list input:hover,
#recipe:hover {
  background-color: var(--hover-color, blanchedalmond);
  color: var(--select-color, black);
  cursor: pointer;
}

#add-ingredient:active,
#ingredients-list input:focus,
#recipe:focus {
  background-color: var(--hover-color, blanchedalmond);
  border: 0.0625rem solid var(--select-color, black);
  outline: none;
  color: var(--select-color, black);
}

/* Recipe Textarea Styles */
#recipe-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}

form {
  display: flex;
  flex-flow: column nowrap;
  max-width: 50%;
}

form form-field {
  margin: 1rem;
}

#submit-button, #generate-button {
  min-width: 45%;
  cursor: pointer;
  /* margin: 0.5rem; */
  margin-right: 0.5rem;
}

@media only screen and (width >= 280px) and (width <= 1024px) {
  header h1 {
    position: static;
    transform: none;
  }

  #sign-out-button {
    margin-bottom: 1rem;
  }

  #recipe-name,
  fieldset legend {
    text-align: center;
  }

  form-field,
  fieldset,
  #ingredients-list,
  #recipe-container,
  form,
  header {
    display: flex;
    /* flex-flow: column wrap; */
    justify-content: center;
    align-items: center;
  }

  form {
    flex-wrap: nowrap;
  }

  #recipe {
    text-align: center;
  }
}

#generate-button:disabled,
#submit-button:disabled {
  cursor: wait;
  color: pink;
  background-color: grey;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: vertical;
  width: 60%;
}

.img-container {
  height: 60%;
  border-radius: 1.5rem;
  margin: 1rem;
  background-color: var(--hover-color, blanchedalmond);
  box-shadow: 0 0 0 0.1rem var(--select-color, black);
  border: 0.0625rem solid var(--select-color, black);
  color: var(--select-color, black);
  position: relative;
}

.img-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
  border-radius: 1.5rem;
}

.img-container h6 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  z-index: 0;
  text-align: center;
  width: 100%;
}

#generate-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 0.25rem;
}

#wrapper {
  display: flex;
  flex-direction: row;
  overflow-wrap: column;
}

@media (max-width: 768px) {
  #wrapper {
    flex-direction: column;
  }
}