<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel=stylesheet href="../css/customize/style2.css">
    <script src="../js/customize/script2.js" type="module"></script>
    <title>Create New Recipe</title>
</head>
<body>
    <header>
        <a href="#">Back to Dashboard</a>
        <h1>Create New Recipe</h1>
        <a href="#">Sign Out</a>
    </header>
    <main>
        <img src="path/to/your/coffee-image.jpg" alt="Insert Coffe Pic Here">
        <form action="your-backend-endpoint" method="post">
            <form-field>
                <label for="recipe-name">Recipe Name</label>
                <input type="text" id="recipe-name" name="recipe_name" required>
            </form-field>
            <form-field>
                <fieldset>
                    <legend>Size</legend>
                    <input type="radio" id="tall" name="size" value="TALL">
                    <label for="tall">Tall</label>
                    <input type="radio" id="grande" name="size" value="GRANDE">
                    <label for="grande">Grande</label>
                    <input type="radio" id="venti" name="size" value="VENTI">
                    <label for="venti">Venti</label>
                </fieldset>
            </form-field>
            <form-field>
                <fieldset>
                    <legend>Type</legend>
                    <input type="radio" id="hot" name="type" value="HOT" required>
                    <label for="hot">HOT</label>
                    <input type="radio" id="cold" name="type" value="COLD">
                    <label for="cold">COLD</label>
                </fieldset>
            </form-field>
            <form-field id="ingredients-container">
                <label for="ingredients">Ingredients</label>
                <input type="text" name="ingredients" value="CINNAMON">
                <button type="button" id="add-ingredient">+</button>
            </form-field>
            <form-field>
                <label for="recipe">Recipe</label>
                <textarea id="recipe" name="recipe" rows="4" cols="50" required></textarea>
            </form-field>
            <button type="submit">Save New Recipe</button>
        </form>
    </main>
</body>
</html>
