<!doctype html>
<html lang="en">
  <script src="/js/register.js" type="module"></script>
  <link rel="stylesheet" href="/css/login_register.css" />
  <div class="wrapper">
    <div class="card-switch">
      <label class="switch">
        <input type="checkbox" class="toggle" />
        <span class="slider"></span>
        <span class="card-side"></span>
        <div class="flip-card__inner">
          <div class="flip-card__front">
            <div class="title">Log in</div>
            <form class="flip-card__form" action="/auth/login" method="post">
              <input
                class="flip-card__input"
                name="email"
                placeholder="Email"
                type="email"
              />
              <input
                class="flip-card__input"
                name="password"
                placeholder="Password"
                type="password"
                required
              />
              <button class="flip-card__btn" type="submit">Let`s go!</button>
            </form>
            <a href="/forgot-password">Forgot password?</a>
          </div>
          <div class="flip-card__back">
            <div class="title">Sign up</div>
            <form class="flip-card__form" action="/auth/register" method="POST">
              <input class="flip-card__input" placeholder="Name" type="name" required/>
              <input
                class="flip-card__input"
                name="email"
                placeholder="Email"
                type="email"
                required
              />
              <input
                class="flip-card__input"
                name="password"
                placeholder="Password"
                type="password"
                required
              />
              <input
                class="flip-card__input"
                name="confirm_pass"
                placeholder="Confirm Password"
                type="password"
                required
              />
              <div class="error_message"></div>
              <button class="flip-card__btn">Confirm!</button>
            </form>
          </div>
        </div>
      </label>
    </div>
  </div>
</html>
